.ant-layout-header{background-color: #210210;} 
.ant-menu {background-color: #210210 !important;}
.ant-layout-sider-children  {background-color: #210210 ;}
.ant-layout-sider-trigger{ background-color: @primary-color;}