
.headerTitle {
    text-align: center;
    font-size:calc(16px + 1vw);
    font-family:   'Arial Narrow Bold', sans-serif;
    
}
#detailsHeader {
    text-transform: capitalize;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}