#budget-number{
    color: var(--primary);
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    display: block;
}
#upArrow{
    font-size: 60px;
}
#downArrow{
    font-size: 60px;
}